body{
    margin: 0;
    padding: 0;
    background-image: url('../Images/image2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
}

h1{
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 45px;
}

h2{
    color: #E8F9FF;
    font-weight: bold;
    font-style: oblique;
    font-size: 1.3rem;
}

button{
    font-weight: bold;
    background-color: black;
    color: azure;
    font-size: 1rem;
}

button:hover{
   background-color: whitesmoke;
   color: black;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #BB9AB1;
}

a:hover{
    color: #E8F9FF;
}

@media (max-width: 750px) and (min-width: 100px) {
    body{
        margin: 25px;
        width: 90%;
    }
}